#wrapper
  / header
  %header#header
    .shell
      = link_to "API базы фактов по городам Башкортостана", root_path, class: "logo"
  / main
  .main
    .shell

      %br/
      %h3= link_to "О проекте", "/presentation.html", class: "about"

      %section#introduction.single-page.scrollblock
        .description
          %h2.main_head Краткое описание
          %p 
            Проект <b>"База фактов по городам Башкортостана"</b> позволяет получать различные <b>факты</b> 
            относящиеся к городу. Под <b>фактом</b> понимается имя собственное, например, достопримечательность или
            известная личность. Каждый факт имеет источник упоминания и различные метаданные. Факты извлекаются из
            таких источников как: <b>Dbpedia, Open Steet Map и RSS-ленты </b>.
          %p
            Данное API можно применять для различных задач, например, связанных с обрабокой естественного языка. 
            Например, можно извлекать из текста факты и с помощью метаданных (Open Street Map) указывать их на карте или предоставлять более подробную информацию ссылаясь на первоисточник.  
          %p
            Сейчас API внедряется в 
            = link_to "\"Новостной агрегатор по городам Башкортостана\".", 'http://rbcitynews.ru'
            В тестовом окружении было достигнуто улучшение качества классификации на 9.4%.

      / У документации следующая структура:
      / - Документация
      / -- Первоначальные сведения
      / ---  Ресурсы
      / ---  Вызов ресурсов
      / -- Ресурсы API
      / ---  Города
      / ----   Все города
      / -----    Описание
      / -----    Входные данные*
      / -----    Выходные данные
      / -----    Пример для формата JSON
      / ----  Определенный город 
      / -----    Описание
      / -----    Входные данные*
      / -----    Выходные данные
      / -----    Пример для формата JSON
      / ... аналогично для других ресурсов
      / ... помеченные * - необязательный
      .documentation      
        %section#addapi.single-page.scrollblock
          %h2.main_head Документация        
          .main_section
            %section#addapi.single-page.scrollblock
              %h2.sub_head Первоначальные сведения
              API проекта <b>"База фактов по городам Башкортостана"</b>, далее просто API, построено по принципам
              REST.
              .sub_section
                %h3.sub_sub_head Ресурсы
                %p
                  %b Ресурс -
                  это интерфейс взаимодействия с API для получения данных определенного типа.
                  У каждого ресурса есть свой уникальный URL. Все действия выполняются методом GET протокола HTTP на URL ресурсов.
                %p
                  Например, чтобы получить факты относящие к городу Ишимбаю, необходимо отправить GET-запрос на URL 
                  ресурса, отвечающего за факты, указав в запросе идентефикатор города.
              .sub_section
                %h3.sub_sub_head Вызов ресурсов
                %p Запросы к API передаются по протоколу HTTP. 
                %p Формат запроса:
                %pre            
                  GET http://citydict.ru/api/v<версия_API>/<ресурс>.<формат_ответа>?<параметры>
                %p где:
                %ul
                  %li <версия_API> - версия API, на данный момент - <b>1</b>.
                  %li <ресурс> - URL ресурса, над которым выполняется действие. Список ресурсов и их описание приведены в разделе Ресурсы API.
                  %li <формат ответа> - это необязательная часть запроса, которая влияет на способ представления ответа.Возможные форматы ответа: XML и JSON. По умолчанию данные передаются в формате JSON.
                  %li <параметры> - необязательные параметры запроса, которые не входят в состав URL ресурса. Например, для некоторых ресурсов можно передавать параметр page - номер страниц. Остальные параметры зависят от конкретного ресурса и приведены в описании ресурсов.
                %p.note API возвращает ответы в кодировке UTF-8.

          .main_section
            %section#addapi.single-page.scrollblock
              %h2.sub_head Ресурсы API

              %h3.sub_sub_head Города      
              .sub_section    
                %h4.sub_sub_sub_head Все города
                %h5 Описание
                %pre
                  cities
                %p Возвращает список всех городов с которыми работает API.
                %p URL ресурса:
                %pre
                  http://citydict.ru/api/v1/cities.[format]
                %h5 Выходные данные:
                %p Структура выходных данных для формата JSON:
                %pre
                  :preserve
                    [
                      {              
                        "eng_name": <Название города на английском>,
                        "id": <Идентификатор города>,
                        "name": <Название города>             
                      },
                      ...
                    ]
                %h5 Пример для формата JSON
                %p Пример запроса:
                %pre 
                  GET http://citydict.ru/api/v1/cities.json
                %p Пример ответа:
                %pre
                  :preserve
                    {
                      "cities": [
                        {
                          "id": 1,
                          "name": "Ишимбай",
                          "eng_name": "Ishimbay"
                        },
                        {
                          "id": 2,
                          "name": "Стерлитамак",
                          "eng_name": "Sterlitamak"
                        }
                      ]
                    }
              .sub_section
                %h4.sub_sub_sub_head Определенный город
                %h5 Описание
                %pre
                  cities/{city_id}
                %p Возвращает информацию о городе. В запросе вместо {city_id} указывается идентификатор города.
                %p URL ресурса:
                %pre
                  http://citydict.ru/api/v1/cities/{city_id}.[format]
                %h5 Выходные данные:
                %p Структура выходных данных для формата JSON:
                %pre
                  :preserve
                    {
                      "city": {
                        "eng_name": <Название города на английском>,
                        "id": <Идентификатор города>,
                        "name": <Название города>      
                      }
                    } 
                %h5 Пример для формата JSON
                %p Пример запроса:
                %pre
                  GET http://citydict.ru/api/v1/cities/1.json
                %p Пример ответа:
                %pre
                  :preserve
                    {
                      "city": {
                        "id": 1,
                        "name": "Ишимбай",
                        "eng_name": "Ishimbay"
                      }
                    }

              %h3.sub_sub_head Типы (категории)
              %h4.sub_sub_sub_head Все типы
              
              %h3.sub_sub_head Факты
              %h4.sub_sub_sub_head Все факты
              %h4.sub_sub_sub_head Факты для определенного города
              %h4.sub_sub_sub_head Определенный факт

  #footer
    .shell
      %p.copy= link_to "Яндекс Хакатон 2013", "http://events.yandex.ru/events/meetings/hack/"