<!-- main -->
<section class='single-page scrollblock' id='introduction'>
<div class='description'>
  <h2 class='main_head'>Краткое описание</h2>
  <p>
    Проект <b>"База фактов по городам Башкортостана"</b> позволяет получать различные <b>факты</b>
    относящиеся к городу. Под <b>фактом</b> понимается имя собственное, например, достопримечательность или
    известная личность. Каждый факт имеет источник упоминания и различные метаданные. Факты извлекаются из
    таких источников как: <b>Dbpedia, Open Steet Map и RSS-ленты </b>.
  </p>
  <p>
    Данное API можно применять для различных задач, например, связанных с обрабокой естественного языка.
    Например, можно извлекать из текста факты и с помощью метаданных (Open Street Map) указывать их на карте или предоставлять более подробную информацию ссылаясь на первоисточник.
  </p>
  <p>
    Сейчас API внедряется в
    <a href="http://rbcitynews.ru">"Новостной агрегатор по городам Башкортостана".</a>
    В тестовом окружении было достигнуто улучшение качества классификации на 9.4%.
  </p>
  <p>
  Для более подробного ознакомления с возможностями данного API перейдите в 
  <a href="/documentation"><strong>раздел документации.</strong></a>
  </p>
</div>
</section>


