<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <title>Проект: База фактов по городам Башкортостана</title>
    <%= stylesheet_link_tag  "presentation", :media => "all" %>	
</head>
<body>
	<div id="wrapper">
        <div class="main">
            <div class="shell">
                <h1>Проект: База фактов по городам Башкортостана</h1>
                <p>Проект "База фактов по городам Башкортостана" позволяет получать различные факты относящиеся к городу. Под фактом понимается имя собственное, например, достопримечательность или известная личность. Каждый факт имеет источник упоминания и различные метаданные.</p>
                <section>
                    <h2>Источники данных и технологии</h2>
                    <ul>
                        <li class="opensreet">OpenstreetMap <br><a href="http://www.openstreetmap.org/">http://www.openstreetmap.org/</a></li>
                        <li class="dbpedia">DBpedia<br><a href="http://dbpedia.org/">http://dbpedia.org/</a></li>
                        <li class="rss">RSS ленты из разных источников <br><a href="http://rbcitynews.ru/all.xml">http://rbcitynews.ru/all.xml</a></li>
                        <li class="tomita">Томита-парсер <br><a href="http://api.yandex.ru/tomita/">http://api.yandex.ru/tomita/</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Проекты:</h2>
                    <ul>
                        <li class="api">База фактов по городам Башкортостана API<br><a href="http://citydict.ru/">http://citydict.ru</a></li>
                        <li class="news">Новостной агрегатор по городам Башкортостана<br><a href="http://rbcitynews.ru/">http://rbcitynews.ru/</a></li>
                        <li class="datahub">Semantic Bashkortostan<br><a href="http://hub.opengovdata.ru/dataset/semantic-bashkortostan">OpenGovData</a></li>
                        <li class="github">GitHub<br><a href="https://github.com/sld/city_dict_api">https://github.com/sld/city_dict_api</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Результат:</h2>
                    <div class="item">Количество записей: <span>4351</span></div>
                    <div class="item">Категории: <span>54</span></div>
                    <div class="item">Качество классификации новостей (F-мера)<br> улучшена в <span>1.094</span> раза (на <span>9.4%</span> лучше)</div>
                </section>
                <section>
                    <h2>Команда:</h2>
                        <div class="item"><a href="mailto:rbcitynews@ya.ru">Идрис Юсупов</a> (rbcitynews@ya.ru) </div>
                        <div class="item"><a href="mailto:onuchinart@gmail.ru">Артем Онучин </a>(onuchinart@gmail.ru) </div>
                        <div class="item"><a href="http://awibox.ru">Андрей Архипов</a> (wibox@ya.ru) </div>
                </section>
                <div class="copyright">&copy; Яндекс Хакатон 2013</div>
                <div class="qr"></div>
            </div>
        </div>
	<div  id="footer">
        <div class="shell">

        </div>
	</div>
</body>
</html>